
<div class="row">
    <div class="col-xs-12">
        <hr/>
        <label>Subject</label>
        <p>{{notification.subject}}</p>
        <hr/>
        <label>Message</label>
        <p ng-bind-html="notification.notice"></p>
        <hr/>
        <label>Count</label>
        <p>{{notification.emailCount}}</p>
        <hr/>
        <label>Date</label>
        <p>{{notification.createdDate | date: "MM/dd/yyyy"}}</p>
        <hr/>
        <label>Tracked</label>
        <br>
        <span ng-if="notification.track == true">Yes</span>
        <span ng-if="notification.track !== true">No</span>
        <hr/>
        <label>Recipients</label>
        <div ng-repeat="notificationRecord in notificationRecords">
                                        <span ng-class="{ 'text-danger' : notificationRecord.success == false}">
                                        {{notificationRecord.member.firstName}}&nbsp;{{notificationRecord.member.lastName}}
                                        &nbsp;|&nbsp;
                                        <span ng-if="notificationRecord.member.unit != null">
                                        {{notificationRecord.member.unit}}
                                        &nbsp;&nbsp;|&nbsp;
                                        </span>
                                        <span ng-if="notificationRecord.success == true">Sent</span>
                                        <span ng-if="notificationRecord.success == false">Failed</span>
                                        </span>
        </div>
        <hr/>
    </div>
</div>
