$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";



// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "partials/variables";
@import "partials/jhipster";
@import "partials/sidebar";
@import "partials/common";
@import "partials/pages/login";

body {
    background: $first_gray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}




/* Custom */


#notification-content{
    .form-group{
        margin-bottom:0;
    }
    .row{
        margin-bottom:15px;
    }
    label{
        margin-top:7px;
    }
    textarea {
        resize: none;
    }
}

