<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Subject</label>
        </div>
    </div>
    <div class="col-sm-10">
        {{collaborate.subject}}
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Message</label>
        </div>
    </div>
    <div class="col-sm-10" ng-bind-html="collaborate.message">
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Type</label>
        </div>
    </div>
    <div class="col-sm-10">
        <span ng-show="collaborate.response == COLLABORATE_RADIO">Radio</span>
        <span ng-show="collaborate.response == COLLABORATE_MULTIPLE_CHOICE">Multiple choice</span>
        <span ng-show="collaborate.response == COLLABORATE_CALENDAR">Calendar</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Status</label>
        </div>
    </div>
    <div class="col-sm-10">
        <span>{{status}}</span>

    </div>
</div>
<div class="row text-danger" ng-if="collaborate.status == COLLABORATE_STATUS_COMPLETED && scheduledDate != null">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Scheduled Date</label>
        </div>
    </div>
    <div class="col-sm-10">
        <span ng-if="scheduledDate != null">{{scheduledDate  | date: "MM/dd/yyyy h:mm a"}}</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Created Date</label>
        </div>
    </div>
    <div class="col-sm-10">
        <p>{{collaborate.createdDate | date: "MM/dd/yyyy h:mm a" }}</p>
    </div>
</div>
<div class="row" ng-if="collaborate.response == COLLABORATE_RADIO">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Response</label>
        </div>
    </div>
    <div class="col-sm-10">

        <div class="form-group">
            <ul class="checkbox-ul">
                <li ng-class="{'active': data.radio == obj.id, 'inactive': data.radio != obj.id}" ng-repeat="obj in collaborateFields">
                    <a ng-click="radioCheck(obj.id);" ng-class="{'not-allowed' : data.archived }">
                        {{obj.question}}
                        <br />
                        Count : {{obj.selectedCount}}
                    </a>
                    <input ng-model="data.radio" type="radio" name="radio" value="{{obj.id}}">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row" ng-if="collaborate.response == COLLABORATE_MULTIPLE_CHOICE || collaborate.response == COLLABORATE_CALENDAR">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Response</label>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="form-group">
            <ul class="checkbox-ul">
                <li ng-class="{'active': obj.selected == true, 'inactive': obj.selected != true}" ng-repeat="obj in collaborateFields">
                    <a ng-click="multiCheck(obj);" ng-class="{'not-allowed' : data.archived }">
                        <span ng-if="collaborate.response == COLLABORATE_MULTIPLE_CHOICE">
                            {{obj.question}}
                        </span>
                        <span ng-if="collaborate.response == COLLABORATE_CALENDAR">
                            {{obj.issueDate | date: "MM/dd/yyyy h:mm a"}}
                        </span>
                        <br />
                        Count : {{obj.selectedCount}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row" ng-if="data.archived == false && data.creator == true && (collaborate.response == COLLABORATE_RADIO || collaborate.response == COLLABORATE_MULTIPLE_CHOICE) ">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Action</label>
        </div>
    </div>
    <div class="col-sm-10">
        <p>
            <button type="button" ng-click="updateStatus('complete')" ng-disabled="!button" class="btn btn-success">Complete</button>
            <button class="btn btn-danger" type="button" ng-disabled="!button" ng-click="updateStatus('cancel')">Cancel</button>
        </p>
    </div>
</div>

<div class="row" ng-if="data.archived == false && data.creator == true && collaborate.response == COLLABORATE_CALENDAR">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Action</label>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="form-group" ng-if="collaborate.status == COLLABORATE_STATUS_CREATED">
            <select  class="form-control" ng-change="" ng-model="data.postDate" ng-options="collaborateField.id as (collaborateField.issueDate | date: 'MM/dd/yyyy h:mm a') for collaborateField in collaborateFields">
            </select>
        </div>
        <p>
            <button ng-if="collaborate.status == COLLABORATE_STATUS_CREATED" type="button" ng-click="updateStatus('complete')" ng-disabled="!button" class="btn btn-success">Post it</button>
            <button class="btn btn-danger" type="button" ng-disabled="!button" ng-click="updateStatus('cancel')">Cancel</button>
        </p>
    </div>
</div>


<!--<div class="row" ng-if="data.archived == false">-->
    <!--<div class="col-sm-2">-->
        <!--<div class="form-group">-->
            <!--<label>Discuss</label>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-10">-->
        <!--<div class="form-group">-->
            <!--<textarea class="form-control" ng-mode="comment"></textarea>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
