<div id="login-page" class="container"> 
    <div class="flex"> 
        <div style="width:100%"> 
            <img id="logo" class="displayed" src="/assets/images/OZAY_LOGIN_bg.png" width="90%"> 
            <div class="container"> 
                <div class="row"> 
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <form class="form ng-pristine ng-valid" role="form"> 
                            <div class="alert alert-danger ng-scope ng-hide" ng-show="authenticationError" translate="login.messages.error.authentication"><strong>Authentication failed!</strong> Please check your credentials and try again.</div>                             <div class="form-group"> 
                                <input ng-model="username" placeholder="Username/Email" class="form-control ng-pristine ng-untouched ng-valid" type="text"> 
                            </div> 
                            <div class="form-group"> 
                                <input type="password" class="form-control ng-pristine ng-untouched ng-valid" id="password" placeholder="Password" ng-model="password"> 
                            </div> 
                            <div class="alert alert-warning"> 
                                <a class="alert-link" href="#/reset/request">Did you forget your password?</a> 
                            </div> 
                            <div class="form-group"> 
                                <button id="login_btn" type="submit" class="btn btn-primary ng-scope" ng-click="login()" translate="login.form.button">Login</button> 
                            </div> 
                        </form>  
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>
</div> 
